.Select__StyledSelectDropButton-sc-17idtfo-1{ width: 100% }
.StyledGrommet-sc-19lkkz7-0{ background-color: rgba(255,255,255,0) }

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }